.features {
    margin-top: 3rem;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);

    @media (max-width: 998px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 400px) {
        grid-template-columns: 1fr;
    }
    &__item {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        &--icon {
            font-size: 2.7rem;
            margin-right: 1rem;
        }
    }
}
