$primary: #0088cc;
$success: #6fc45f;
$danger: #d63417;
$danger100: #ec573c;
$warning: #d68a17;

$white: #fff;
$darkGray: rgb(61, 61, 61);
$gray: #888;
$gray100: #f4f4f4;

$mainBG: #f4f6f8;
$border: #e0e0e0;

$overlayBG: rgb(0, 0, 0);
$overlayBG-2: rgba(223, 167, 167, 0.4);

$box-shadow: 0 6px 13px -12px rgba(50, 50, 93, 0.2),
    0 3px 7px -3px rgba(110, 110, 110, 0.1);
$box-shadow-200: 0 2px 15px hsla(216, 15%, 16%, 0.25);
